h1 {
  color:#F8E9A1;
  border: 4px dotted #F8E9A1;
  background-color:#A8D0E6;
  padding:20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: #F76C6C;
  font-size: 150%;
  background-color:#A8D0E6;
  border: 4px dotted #F76C6C;
  padding:10px;
  font-family: "Times New Roman", Times, serif;
}
.List {
  font-size: 125%;
  font-family: "Times New Roman", Times, serif;
  color:#374785;
}
.rw {
  display: flex;
}

.column {
  flex: 33.33%;
}
.subheading {
  font-size: 138%;
  font-family: "Times New Roman", Times, serif;
  color:#374785;
}
@media screen and (max-width: 500px) {
  .column {
    width: 60%;
  }
}
#places {
  color: black;
  padding: 40px;
  text-align: center;
  width: 95%;
}
th, td{
  border: 3px solid black;
  font-family: "Times New Roman", Times, serif;
}
th{
  font-size: 30px;
  background-color: #2ab7ca;
}
td{
  font-size: 22px;
  background-color: ##e6e6ea;
}
